:root {
  --black: #0b0d17;
  --blue: #d0d6f9;
  --white: #ffffff;
  --heading-1-size: 150px;
  --heading-2-size: 100px;
  --heading-3-size: 56px;
  --heading-4-size: 32px;
  --heading-5-size: 28px;
  --heading-5-letter-space: 4.75px;
  --subheading-1-size: 28px;
  --subheading-2-size: 14px;
  --subheading-2-letter-space: 2.35;
  --nav-text-size: 16px;
  --nav-text-letter-space: 2.7;
  --hover-color: rgba(255, 255, 255, 0.5);
}
@font-face {
  font-family: "Bellefair Regular";
  src: url(./assets/fonts/Bellefair/Bellefair-Regular.ttf);
}
@font-face {
  font-family: "Barlow";
  src: url(./assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}
body {
  margin: 0;
  font-family: "Bellefair Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: unset !important;
}
a:hover {
  color: unset !important;
}
.active_nav_offcanvas {
  border-right: 3px solid white;
}
.active {
  border-bottom: 3px solid var(--white) !important;
}
.offcanvas {
  background-color: rgba(100, 100, 100, 0.2) !important;
  backdrop-filter: blur(20px) !important;
}
.crew_section .swiper-pagination {
  text-align: start !important;
}
.crew_section .swiper-pagination-bullet {
  background-color: var(--hover-color) !important;
  padding: 10px !important;
  margin-left: 15px !important;
}
.crew_section .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}
@media (max-width: 1200px) {
  .crew_section .swiper-pagination {
    text-align: center !important;
    top: 175px !important;
    bottom: unset !important;
  }
}
@media (max-width: 757px) {
  .crew_section .swiper-pagination {
    top: 470px !important;
  }
  .crew_section .swiper-pagination-bullet {
    padding: 7px !important;
  }
}
@media (max-width: 375px) {
  .crew_section .swiper-pagination {
    top: 366px !important;
  }
}
